* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
.container {
    width: 98%;
    min-width: 320px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    transition: all 0.5s ease-in;
    background-color: #eee;
    border-radius: 10px;
}    
.accordion__input {display: none;}
.accordion__label{
    position: relative;
    display: block;
    padding: 5px 8px;
    font-size: 16px;
    /* border-bottom: 1px solid blueviolet; */
    margin: 5px;
}
.label2::after{
    content: '+';
    font-size: 20px;
    position: absolute;
    top: 20%;
    right: 8px;
    transition: all 0.2s ease-in-out;
}
.label2::after{
    display: block;
}
.accordion__content{
    max-height: 0;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}
.accordion__input:checked ~ .label2::after{
    transform: rotate(45deg);
}
.accordion__input:checked ~ .accordion__content{
    max-height: 500px;
}
.accordion__input:checked ~ .accordion__label{
    color: #545454;
}


@media screen and (min-width: 569px)  {
    .accordion__input {display: none;}
    .accordion__label{
        position: relative;
        display: block;
        padding: 10px 15px;
        font-size: 20px;
        margin: 10px;
    }
    .label2::after{
        content: '+';
        font-size: 25px;
        position: absolute;
        top: 20%;
        right: 15px;
        transition: all 0.2s ease-in-out;
    }
    .label2::after{
        display: block;
    }
    .accordion__content{
        max-height: 0;
        overflow: hidden;
        width: 60%;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
    }
    .accordion__input:checked ~ .label2::after{
        transform: rotate(45deg);
    }
    .accordion__input:checked ~ .accordion__content{
        max-height: 500px;
    }
    .accordion__input:checked ~ .accordion__label{
        color: #545454;
    }
}

@media screen and (min-width: 820px) and (max-width: 1920px) {

    .accordion__label{
        cursor: pointer;
        padding: 15px 25px;
        font-size: 25px;
        margin: 15px;
    }
    .label2{
        transition: all 450ms ease;
        border-radius: 10px;
    }
    .label2:hover{
        color:#fff;
        background-color: #999;
    }
    /* .label2::after{
        content: '+';
        font-size: 30px;
        position: absolute;
        top: 20%;
        right: 25px;
        transition: all 0.2s ease-in-out;
    }
    .label2::after{
        display: none;
    } */
    .accordion__content{
        max-height: 0;
        overflow: hidden;
        width: 60%;
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
    }
    .accordion__content:hover,
    .accordion__content:active{
        transform: scale(1.06)
    }

    .dropdown:hover  .accordion__content{
        max-height: 500px;
        
    }
    /* .dropdown:hover  .label2::after{
        transform: rotate(45deg);
    } */
    /* .accordion__input:checked ~ .label2::after{
        transform: rotate(45deg);
    } */
    .accordion__input:checked ~ .accordion__content{
        max-height: 500px;
        transform: scale(1.06);
    }
    .accordion__input:checked ~ .accordion__label{  
        color: #545454;
    }
    /* .container:hover .label2::after{
        display: block;
        color: #545454;
    } */
}